.faqs-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkseagreen-100);
  width: 1440px;
  height: 114px;
}
.frequently-asked-questionsfaq {
  position: absolute;
  top: 33px;
  left: 130px;
  font-size: var(--font-size-25xl);
}
.vector-icon2 {
  position: absolute;
  height: 2.3%;
  width: 4.51%;
  top: 1.4%;
  right: 94.03%;
  bottom: 96.3%;
  left: 1.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.faqs-item {
  position: absolute;
  top: 2102px;
  left: -110px;
  background-color: var(--color-darkseagreen-300);
  width: 2032px;
  height: 244px;
}
.khetmart2 {
  position: absolute;
  top: 2201px;
  left: 550px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-dangrek);
  color: var(--color-black);
  display: inline-block;
  width: 399px;
}
.faqs-inner {
  position: absolute;
  top: 2121px;
  left: 674.22px;
  width: 147.78px;
  height: 126.54px;
}
.good-quality-icon,
.transaction-icon {
  position: absolute;
  top: 2133px;
  left: 1136px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.good-quality-icon {
  top: 2119px;
  left: 162px;
}
.fresh-quality,
.secure-payments {
  position: absolute;
  top: 2264px;
  left: 110px;
  font-size: var(--font-size-21xl);
  font-weight: 500;
  color: var(--color-darkgreen-100);
}
.secure-payments {
  top: 2273px;
  left: 1051px;
}
.what-is-khetmart {
  margin: 0;
  font-weight: 500;
}
.khetmart-is-an {
  margin: 0;
}
.what-is-khetmart-container {
  position: relative;
  display: inline-block;
  width: 1267px;
  flex-shrink: 0;
}
.what-is-khetmart-khetmart-is-wrapper {
  position: absolute;
  top: 293px;
  left: calc(50% - 672px);
  border-radius: var(--br-base);
  background-color: var(--color-lightgoldenrodyellow);
  border: 2px solid var(--color-darkolivegreen-700);
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xl);
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}
.frame-div,
.what-is-khetmart-khetmart-is-container,
.what-is-khetmart-khetmart-is-frame,
.what-is-khetmart-khetmart-is-wrapper1,
.what-is-khetmart-khetmart-is-wrapper2,
.what-is-khetmart-khetmart-is-wrapper3,
.what-is-khetmart-khetmart-is-wrapper4 {
  position: absolute;
  top: 517px;
  left: calc(50% - 667px);
  border-radius: var(--br-base);
  background-color: var(--color-lightgoldenrodyellow);
  border: 2px solid var(--color-darkolivegreen-700);
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xl);
  align-items: center;
  justify-content: center;
}
.frame-div,
.what-is-khetmart-khetmart-is-frame,
.what-is-khetmart-khetmart-is-wrapper1,
.what-is-khetmart-khetmart-is-wrapper2,
.what-is-khetmart-khetmart-is-wrapper3,
.what-is-khetmart-khetmart-is-wrapper4 {
  top: 707px;
  left: calc(50% - 665px);
}
.frame-div,
.what-is-khetmart-khetmart-is-wrapper1,
.what-is-khetmart-khetmart-is-wrapper2,
.what-is-khetmart-khetmart-is-wrapper3,
.what-is-khetmart-khetmart-is-wrapper4 {
  top: 897px;
  left: calc(50% - 663px);
}
.what-is-khetmart-khetmart-is-wrapper1,
.what-is-khetmart-khetmart-is-wrapper2,
.what-is-khetmart-khetmart-is-wrapper3,
.what-is-khetmart-khetmart-is-wrapper4 {
  top: 1087px;
  left: calc(50% - 661px);
}
.what-is-khetmart-khetmart-is-wrapper2,
.what-is-khetmart-khetmart-is-wrapper3,
.what-is-khetmart-khetmart-is-wrapper4 {
  top: 1311px;
  left: calc(50% - 659px);
}
.what-is-khetmart-khetmart-is-wrapper3,
.what-is-khetmart-khetmart-is-wrapper4 {
  top: 1501px;
  left: calc(50% - 657px);
}
.what-is-khetmart-khetmart-is-wrapper4 {
  top: 1725px;
  left: calc(50% - 655px);
}
.what-is-khetmart1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 1267px;
  flex-shrink: 0;
}
.what-is-khetmart-khetmart-is-wrapper5 {
  position: absolute;
  top: 171px;
  left: 48px;
  border-radius: var(--br-base);
  background-color: var(--color-darkolivegreen-400);
  border: 2px solid var(--color-darkolivegreen-700);
  display: flex;
  flex-direction: row;
  padding: var(--padding-13xl);
  align-items: center;
  justify-content: center;
  color: var(--color-lightgoldenrodyellow);
}
.faqs {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2352px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-darkolivegreen-400);
  font-family: var(--font-inter);
}
