.home-2-child {
  position: absolute;
  top: 167.25px;
  left: 19102.33px;
  width: 53.13px;
  height: 45.5px;
}
.picsart-23-07-29-09-50-18-441-icon1 {
  position: relative;
  width: 486px;
  height: 264px;
  object-fit: cover;
}
.frame-child53 {
  position: absolute;
  top: 0;
  left: 136px;
  border-radius: var(--br-11xl);
  background-color: var(--color-olivedrab);
  width: 173px;
  height: 43.5px;
}
.about-us4,
.home3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  left: 176px;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 93.2px;
  height: 37.43px;
}
.about-us4 {
  top: 2px;
  left: 347px;
  font-size: var(--font-size-5xl);
  width: 107px;
  height: 30.77px;
}
.text5,
.vector-icon64 {
  position: absolute;
  top: -3px;
  left: 497px;
  width: 40px;
  height: 40px;
}
.text5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 6px;
  font-size: var(--font-size-5xl);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 86px;
  height: 31px;
}
.rectangle-parent54 {
  position: relative;
  width: 580px;
  height: 43px;
}
.frame3 {
  width: 1004px;
  height: 58px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: -76px;
}
.picsart-23-07-29-09-50-18-441-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 304px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-7xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(./public/frame-11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.quality1 {
  margin: 0;
}
.quality-guarantee1 {
  position: absolute;
  top: 171px;
  left: 495px;
  display: inline-block;
  width: 191.01px;
}
.layer-x0020-1-icon1 {
  position: absolute;
  height: 36.3%;
  width: 7.59%;
  top: 15.7%;
  right: 37.2%;
  bottom: 48%;
  left: 55.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.protect-icon1 {
  position: absolute;
  top: 60px;
  left: 463px;
  width: 162.07px;
  height: 103px;
  object-fit: cover;
}
.money-return1,
.online-support1 {
  position: absolute;
  top: 177px;
  left: 800.21px;
  display: inline-block;
  width: 152.99px;
}
.online-support1 {
  top: 171px;
  left: 1089.5px;
  width: 165.05px;
}
.frame-child54 {
  position: absolute;
  top: 16px;
  left: 122.22px;
  width: 145.78px;
  height: 126.54px;
}
.internet-connection-contact-so-icon1 {
  position: absolute;
  top: 17px;
  left: 1099.34px;
  width: 160.21px;
  height: 146px;
  object-fit: cover;
}
.khetmart14,
.promises-you1 {
  position: absolute;
  left: 42px;
  display: inline-block;
}
.khetmart14 {
  top: 103px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-dangrek);
  width: 301px;
  height: 101px;
}
.promises-you1 {
  top: 181px;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  color: var(--color-darkolivegreen-800);
  width: 426px;
}
.quality-guarantee-group {
  align-self: stretch;
  position: relative;
  height: 293px;
}
.home-2-inner {
  position: absolute;
  top: 1863px;
  left: 1px;
  background-color: var(--color-darkolivegreen-100);
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.frame-child55,
.frame-child56 {
  position: absolute;
  top: 0;
  left: 221.97px;
  width: 3.03px;
  height: 436.01px;
}
.frame-child56 {
  top: -0.01px;
  left: 0;
  width: 6.25px;
  height: 435.01px;
}
.frame-child57,
.frame-child58 {
  position: absolute;
  top: 0;
  left: 483.84px;
  width: 6.16px;
  height: 442.01px;
}
.frame-child58 {
  left: 821.78px;
  width: 5.22px;
  height: 452.01px;
}
.fruits1,
.home4,
.shop1 {
  position: absolute;
  display: inline-block;
}
.shop1 {
  top: 0;
  left: 313px;
  font-size: var(--font-size-13xl);
  width: 80.52px;
}
.fruits1,
.home4 {
  top: 65px;
  left: 80px;
  width: 69.17px;
}
.fruits1 {
  top: 120px;
  left: 317px;
  width: 73.3px;
}
.loans1,
.schemes2,
.vegetables1,
.village-staples2 {
  position: absolute;
  top: 65px;
  left: 288px;
  display: inline-block;
  width: 131.11px;
}
.loans1,
.schemes2,
.village-staples2 {
  top: 175px;
  left: 268px;
  width: 172.4px;
}
.loans1,
.schemes2 {
  top: 230px;
  left: 300px;
  width: 108.39px;
}
.loans1 {
  top: 285px;
  left: 319px;
  width: 70.2px;
}
.learn1 {
  top: 340px;
  left: 321px;
  width: 66.07px;
}
.information1,
.learn1,
.privacy-policy4 {
  position: absolute;
  display: inline-block;
}
.information1 {
  top: 0;
  left: 567px;
  font-size: var(--font-size-13xl);
  width: 177.56px;
}
.privacy-policy4 {
  top: 120px;
  left: 574px;
  width: 162.08px;
}
.faq1,
.refund-return-policy1,
.terms-conditions1 {
  position: absolute;
  top: 175px;
  left: 533px;
  display: inline-block;
  width: 244.66px;
}
.faq1,
.terms-conditions1 {
  top: 230px;
  left: 632px;
  width: 47.49px;
}
.terms-conditions1 {
  top: 65px;
  left: 553px;
  width: 205.43px;
}
.httpsinstagramcomkhetmart1,
.httpswwwyoutubecom-khetm1,
.khettmartgmailcom1 {
  text-decoration: none;
  position: absolute;
  top: 112px;
  left: 895px;
  color: inherit;
  display: inline-block;
  width: 382.28px;
}
.httpswwwyoutubecom-khetm1,
.khettmartgmailcom1 {
  top: 57px;
  left: 956px;
  width: 259px;
}
.httpswwwyoutubecom-khetm1 {
  top: 196px;
  left: 870px;
  width: 432px;
  height: 23px;
}
.contacts1 {
  top: 0;
  left: 1017px;
  font-size: var(--font-size-13xl);
  width: 137px;
  height: 31px;
}
.about-us5,
.contact-us1,
.contacts1,
.menu1 {
  position: absolute;
  display: inline-block;
}
.about-us5 {
  top: 120px;
  left: 62px;
  width: 105.3px;
  cursor: pointer;
}
.contact-us1,
.menu1 {
  top: 175px;
  left: 50px;
  width: 128.01px;
}
.menu1 {
  top: 0;
  left: 70px;
  font-size: var(--font-size-13xl);
  width: 87.75px;
}
.line-group {
  position: relative;
  width: 1302px;
  height: 452px;
}
.home-2-inner1 {
  position: absolute;
  top: 2156px;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-84xl) var(--padding-92xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray);
}
.new-offers-on-container1 {
  position: relative;
  display: inline-block;
  width: 897px;
  mix-blend-mode: normal;
}
.frame4 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame-child59 {
  position: relative;
  border-radius: var(--br-mini);
  width: 897px;
  height: 354px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-container {
  position: absolute;
  top: 324px;
  left: 240px;
  width: 897px;
  height: 452px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
}
.we-are-engaged1 {
  position: relative;
  display: inline-block;
  width: 387px;
  height: 70px;
  flex-shrink: 0;
}
.four-distinct-businesses1 {
  position: relative;
  display: inline-block;
  margin-top: -31px;
}
.frame5,
.we-are-engaged-in-group {
  display: flex;
  flex-direction: column;
}
.we-are-engaged-in-group {
  width: 387px;
  height: 78px;
  align-items: center;
  justify-content: flex-start;
}
.frame5 {
  width: 908px;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
}
.learn-modern-techniques-container1 {
  position: absolute;
  top: 268px;
  left: 1169px;
  display: inline-block;
  width: 163px;
}
.frame-child60,
.frame-child61,
.frame-child62,
.frame-child63 {
  position: absolute;
  top: 0;
  left: 1066px;
  width: 318px;
  height: 248px;
  object-fit: cover;
  cursor: pointer;
}
.frame-child61,
.frame-child62,
.frame-child63 {
  left: 0;
  width: 320px;
  height: 240px;
}
.frame-child62,
.frame-child63 {
  left: 712px;
  width: 318px;
}
.frame-child63 {
  left: 356px;
  width: 320px;
}
.fresh-vegetables-and-container1 {
  position: absolute;
  top: 268px;
  left: 59px;
  display: inline-block;
  width: 195px;
}
.village-staple1 {
  position: absolute;
  top: 268px;
  left: 461px;
}
.gov-schemes-and-container1 {
  position: absolute;
  top: 268px;
  left: 816px;
}
.learn-modern-techniques-group {
  position: relative;
  width: 1384px;
  height: 326px;
  font-size: var(--font-size-5xl);
}
.frame-parent1 {
  position: absolute;
  top: 821px;
  left: 29px;
  width: 1384px;
  height: 449px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-26xl);
}
.new-to-the1 {
  position: absolute;
  top: 0;
  left: 315px;
  display: inline-block;
  width: 332px;
  height: 36px;
}
.frame-child64,
.frame-child65 {
  position: absolute;
  top: 63px;
  left: 534px;
  width: 415.75px;
  height: 341px;
}
.frame-child65 {
  left: 0;
}
.new-to-the-website-group {
  position: absolute;
  top: 1425px;
  left: 264px;
  width: 951px;
  height: 401px;
}
.home-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2879px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkolivegreen-200);
  font-family: var(--font-inter);
}
