.oqqs4lhgkfl6ivu3cnvoezs4wxarqj-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 496px;
  object-fit: cover;
}
.learn-modern-techniques {
  position: absolute;
  top: 538px;
  left: 60.79px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  color: var(--color-darkolivegreen-200);
  display: inline-block;
  width: 407.11px;
  height: 79px;
}
.group-child109,
.group-child110,
.group-child111 {
  position: absolute;
  top: 670px;
  left: 36.61px;
  background-color: var(--color-lightgoldenrodyellow);
  width: 1403.39px;
  height: 399px;
}
.group-child110,
.group-child111 {
  top: 1108px;
  left: 1px;
  width: 1439px;
}
.group-child111 {
  top: 1532px;
  left: 29.89px;
  width: 1410.11px;
}
.greenhouses-are-enclosed {
  position: absolute;
  top: 1637px;
  left: 49px;
  display: inline-block;
  width: 821px;
}
.httpsyoutubefqx9h9j7p6e,
.hydroponics-is-an {
  position: absolute;
  top: 1204px;
  left: 61px;
  display: inline-block;
  width: 809px;
}
.httpsyoutubefqx9h9j7p6e {
  top: 1444px;
  left: 676.16px;
  font-weight: 500;
  color: var(--color-cornflowerblue);
  width: 233.79px;
}
.group-child112,
.group-child113,
.group-child114 {
  position: absolute;
  top: 726px;
  left: 934.8px;
  width: 436px;
  height: 307px;
  object-fit: cover;
}
.group-child113,
.group-child114 {
  top: 1160px;
}
.group-child114 {
  top: 1576px;
}
.precision-farming {
  position: absolute;
  top: 701px;
  left: 52.06px;
  font-size: var(--font-inherit);
  font-weight: 500;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 176.01px;
}
.hydroponics-farming,
.precision-farming-also {
  position: absolute;
  top: 775px;
  left: 49px;
  display: inline-block;
  width: 823px;
}
.hydroponics-farming {
  top: 1129px;
  left: 60.79px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  width: 198.85px;
}
.green1 {
  margin-bottom: 0;
}
.green {
  padding-left: var(--padding-16xl);
}
.green,
.houses {
  margin: 0;
}
.green-houses {
  position: absolute;
  top: 1551px;
  left: 54.07px;
  font-size: var(--font-inherit);
  font-weight: 600;
  font-family: var(--font-inherit);
  display: inline-block;
  width: 139.06px;
}
.httpsyoutubea-wcn1xnzik,
.httpsyoutubewhafzhfxhts {
  position: absolute;
  top: 1010px;
  left: 668.1px;
  font-weight: 500;
  color: var(--color-cornflowerblue);
  display: inline-block;
  width: 241.85px;
}
.httpsyoutubea-wcn1xnzik {
  top: 1854px;
  left: 676.16px;
  width: 233.79px;
}
.oqqs4lhgkfl6ivu3cnvoezs4wxarqj-parent {
  position: absolute;
  top: 97px;
  left: 0;
  width: 1440px;
  height: 1931px;
  text-align: center;
}
.location-on {
  position: absolute;
  top: 34px;
  left: 206px;
  width: 35px;
  height: 38px;
}
.modern-tech-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkseagreen-100);
  width: 1440px;
  height: 97px;
}
.modern-tech-item {
  position: absolute;
  top: 31px;
  left: 306px;
  width: 813px;
  height: 37px;
}
.search-for-products2 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 20px;
  color: var(--color-darkolivegreen-600);
  text-align: center;
  display: inline-block;
  width: 305px;
  height: 21px;
}
.search-for-products-container {
  position: absolute;
  top: 30px;
  left: 306px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 871px;
  height: 36px;
}
.vadodara1 {
  position: absolute;
  top: 42px;
  left: 166px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
}
.search-icon2 {
  position: absolute;
  top: 30px;
  left: 1115px;
  width: 80.17px;
  height: 45px;
  overflow: hidden;
}
.khetmart7 {
  position: absolute;
  top: 46px;
  left: 0;
}
.group-child115,
.khetmart-group {
  position: absolute;
  top: -0.75px;
  left: 22.33px;
  width: 53.13px;
  height: 45.5px;
}
.khetmart-group {
  top: 15px;
  left: 21px;
  width: 98px;
  height: 63px;
  font-family: var(--font-dangrek);
}
.location-on-icon1,
.modern-tech-inner {
  position: absolute;
  height: 1.71%;
  width: 12.5%;
  top: 1.24%;
  right: 2.36%;
  bottom: 97.06%;
  left: 85.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.location-on-icon1 {
  height: 1.17%;
  width: 1.6%;
  top: 1.46%;
  right: 88.75%;
  bottom: 97.38%;
  left: 9.65%;
}
.modern-tech {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2343px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
