.group-child116,
.group-child117,
.group-child118 {
  position: absolute;
  top: 748.47px;
  left: 7px;
  background-color: var(--color-lightgoldenrodyellow);
  width: 1440px;
  height: 405.76px;
}
.group-child117,
.group-child118 {
  top: 1184.75px;
}
.group-child118 {
  top: 1634.24px;
}
.wwwpmkmygovin {
  position: absolute;
  top: 1512.2px;
  left: 741.13px;
  font-weight: 500;
  color: var(--color-cornflowerblue);
  display: inline-block;
  width: 159.92px;
  height: 58.98px;
}
.under-this-schemefarmers {
  position: absolute;
  top: 1269px;
  left: 47px;
  display: inline-block;
  width: 808px;
  height: 236px;
}
.pradhan-mantri-kisan,
.wwwpmkisangovin {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.pradhan-mantri-kisan {
  top: 1197.97px;
  left: 19.41px;
  font-size: var(--font-size-7xl);
  width: 375.68px;
  height: 63.05px;
}
.wwwpmkisangovin {
  top: 1062.71px;
  left: 732.17px;
  color: var(--color-cornflowerblue);
  width: 168.88px;
  height: 58.98px;
}
.pm-kisan-scheme,
.the-scheme-is,
.to-avail-,
.to-avail-1,
.to-avail-2 {
  position: absolute;
  top: 1062.71px;
  left: 660.48px;
  display: inline-block;
  width: 66.86px;
  height: 58.98px;
}
.pm-kisan-scheme,
.the-scheme-is,
.to-avail-1,
.to-avail-2 {
  top: 1512.2px;
  left: 674.27px;
}
.pm-kisan-scheme,
.the-scheme-is,
.to-avail-2 {
  top: 1948.47px;
  left: 681.85px;
}
.pm-kisan-scheme,
.the-scheme-is {
  top: 841px;
  left: 51px;
  width: 809px;
  height: 132px;
}
.pm-kisan-scheme {
  top: 763.73px;
  left: 26.99px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  width: 179.91px;
  height: 63.05px;
}
.group-child119,
.group-child120,
.group-child121 {
  position: absolute;
  top: 781.02px;
  left: 934.14px;
  width: 447.37px;
  height: 312.2px;
  object-fit: cover;
}
.group-child120,
.group-child121 {
  top: 1223.39px;
  left: 951.38px;
  width: 430.14px;
}
.group-child121 {
  top: 1665.76px;
}
.oqqs4lhgkfl6ivu3cnvoezs4wxarqj-icon1 {
  position: absolute;
  top: 92px;
  left: 7px;
  width: 1440px;
  height: 509.49px;
  object-fit: cover;
}
.pradhan-mantri-fasal {
  position: absolute;
  top: 1667.8px;
  left: 26.99px;
  font-size: var(--font-size-7xl);
  font-weight: 500;
  display: inline-block;
  width: 390.85px;
  height: 63.05px;
}
.government-schemes,
.under-this-scheme,
.wwwpmfbygovin {
  position: absolute;
  top: 1748px;
  left: 41px;
  display: inline-block;
  width: 819px;
  height: 147px;
}
.government-schemes,
.wwwpmfbygovin {
  top: 1948.47px;
  left: 748.71px;
  font-weight: 500;
  color: var(--color-cornflowerblue);
  width: 152.34px;
  height: 58.98px;
}
.government-schemes {
  top: 631.53px;
  left: 30.44px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  color: var(--color-darkslategray);
  width: 354.31px;
  height: 117.97px;
}
.location-on-icon2,
.rectangle-parent23 {
  position: absolute;
  top: 0;
  left: 151.76px;
  width: 24.13px;
  height: 38.64px;
}
.rectangle-parent23 {
  left: -7px;
  width: 1447px;
  height: 2040px;
  text-align: center;
}
.schemes-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkseagreen-100);
  width: 1440px;
  height: 97px;
}
.schemes-item {
  position: absolute;
  top: 31px;
  left: 306px;
  width: 813px;
  height: 37px;
}
.search-for-products3 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 20px;
  color: var(--color-darkolivegreen-600);
  text-align: center;
  display: inline-block;
  width: 305px;
  height: 21px;
}
.search-for-products-frame {
  position: absolute;
  top: 30px;
  left: 306px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 871px;
  height: 36px;
}
.vadodara2 {
  position: absolute;
  top: 42px;
  left: 166px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
}
.search-icon3 {
  position: absolute;
  top: 30px;
  left: 1115px;
  width: 80.17px;
  height: 45px;
  overflow: hidden;
}
.group-child122,
.khetmart8 {
  position: absolute;
  top: 46px;
  left: 0;
}
.group-child122 {
  top: -0.75px;
  left: 22.33px;
  width: 53.13px;
  height: 45.5px;
}
.khetmart-container {
  position: absolute;
  top: 15px;
  left: 21px;
  width: 98px;
  height: 63px;
  font-family: var(--font-dangrek);
}
.location-on-icon3,
.schemes-inner {
  position: absolute;
  height: 1.69%;
  width: 12.5%;
  top: 1.23%;
  right: 2.36%;
  bottom: 97.08%;
  left: 85.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.location-on-icon3 {
  height: 1.15%;
  width: 1.6%;
  top: 1.44%;
  right: 88.75%;
  bottom: 97.4%;
  left: 9.65%;
}
.schemes1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2367px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
