.frame-child24 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkseagreen-100);
  width: 1440px;
  height: 113.07px;
}
.terms-and-conditions1 {
  position: absolute;
  top: 32.73px;
  left: 130px;
  font-size: var(--font-size-36xl);
  display: inline-block;
  color: var(--color-darkolivegreen-400);
  width: 590px;
  height: 66.45px;
}
.vector-icon52 {
  position: absolute;
  height: 1.57%;
  width: 3.75%;
  top: 0.81%;
  right: 93.61%;
  bottom: 97.62%;
  left: 2.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.mode-of-payment {
  margin: 0;
  font-weight: 600;
}
.khetmart-offers-you {
  margin: 0;
}
.return-within-12-hours-from-de1 {
  margin-bottom: 0;
}
.return-within-12-hours-from-de {
  margin: 0;
  padding-left: var(--padding-17xl);
}
.mode-of-payment-container {
  position: absolute;
  top: 156.7px;
  left: 27px;
  font-size: var(--font-inherit);
  white-space: pre-wrap;
  display: inline-block;
  width: 1371px;
  height: 3562.55px;
}
.frame-child25 {
  position: absolute;
  top: 3509px;
  left: 0;
  background-color: var(--color-darkseagreen-100);
  width: 1440px;
  height: 242px;
}
.frame-child26,
.khetmart12 {
  position: absolute;
  top: 3529px;
  left: 604.22px;
  width: 147.78px;
  height: 126.54px;
}
.khetmart12 {
  top: 3609px;
  left: 479px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-dangrek);
  display: inline-block;
  width: 399px;
  height: 171.58px;
}
.transaction-icon6 {
  position: absolute;
  top: 3529px;
  left: 1158px;
  width: 150px;
  height: 148.77px;
  object-fit: cover;
}
.secure-payments6 {
  position: absolute;
  top: 3678px;
  left: 1066px;
  font-weight: 500;
  color: var(--color-darkgreen-100);
  display: inline-block;
  width: 333px;
  height: 47.61px;
}
.good-quality-icon5 {
  position: absolute;
  top: 3531px;
  left: 68px;
  width: 150px;
  height: 148.77px;
  object-fit: cover;
}
.fresh-quality6 {
  position: absolute;
  top: 3678px;
  left: 38px;
  font-weight: 500;
  color: var(--color-darkgreen-100);
  display: inline-block;
  width: 253px;
  height: 47.61px;
}
.rectangle-parent50 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 3780.58px;
}
.termsnconditions {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3750px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
