.group-child70 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkseagreen-100);
  width: 2030px;
  height: 97px;
}
.group-child71,
.vector-icon12 {
  position: absolute;
  height: 2.02%;
  width: 8.45%;
  top: 0.71%;
  right: 1.53%;
  bottom: 97.27%;
  left: 90.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon12 {
  width: 3.11%;
  top: 0.94%;
  right: 94.82%;
  bottom: 97.04%;
  left: 2.07%;
  cursor: pointer;
}
.wishlist {
  position: absolute;
  top: 22px;
  left: 147px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  color: var(--color-darkolivegreen-500);
}
.group-child72 {
  position: absolute;
  top: 211px;
  left: 92px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 574px;
  height: 815px;
}
.group-child73,
.group-child74,
.group-child75,
.group-child76,
.group-child77,
.group-child78,
.group-child79,
.group-child80 {
  position: absolute;
  top: 1093px;
  left: 90px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
  width: 574px;
  height: 815px;
}
.group-child74,
.group-child75,
.group-child76,
.group-child77,
.group-child78,
.group-child79,
.group-child80 {
  top: 1962px;
  left: 92px;
}
.group-child75,
.group-child76,
.group-child77,
.group-child78,
.group-child79,
.group-child80 {
  top: 211px;
  left: 1364px;
}
.group-child76,
.group-child77,
.group-child78,
.group-child79,
.group-child80 {
  top: 1091px;
}
.group-child77,
.group-child78,
.group-child79,
.group-child80 {
  top: 1962px;
  left: 1362px;
}
.group-child78,
.group-child79,
.group-child80 {
  top: 211px;
  left: 738px;
}
.group-child79,
.group-child80 {
  top: 1093px;
  left: 729px;
}
.group-child80 {
  top: 1962px;
  left: 728px;
}
.rs-170,
.rs-180,
.rs-200,
.rs-300 {
  position: absolute;
  top: 863px;
  left: 143px;
  font-weight: 600;
}
.rs-170,
.rs-180,
.rs-300 {
  top: 1745px;
  left: 141px;
}
.rs-170,
.rs-300 {
  top: 2614px;
  left: 143px;
}
.rs-300 {
  top: 876px;
  left: 1415px;
}
.rs-100,
.rs-2001,
.rs-220,
.rs-250,
.rs-500 {
  position: absolute;
  top: 1758px;
  left: 1413px;
  font-weight: 600;
}
.rs-100,
.rs-2001,
.rs-220,
.rs-250 {
  top: 2627px;
  left: 1415px;
}
.rs-100,
.rs-2001,
.rs-220 {
  top: 863px;
  left: 779px;
}
.rs-100,
.rs-2001 {
  top: 1745px;
  left: 777px;
}
.rs-2001 {
  top: 2614px;
  left: 779px;
}
.kg10,
.kg2,
.kg3,
.kg4,
.kg5,
.kg6,
.kg7,
.kg8,
.kg9 {
  position: absolute;
  top: 871px;
  left: 272px;
  font-size: var(--font-size-5xl);
}
.kg10,
.kg3,
.kg4,
.kg5,
.kg6,
.kg7,
.kg8,
.kg9 {
  top: 1753px;
  left: 270px;
}
.kg10,
.kg4,
.kg5,
.kg6,
.kg7,
.kg8,
.kg9 {
  top: 2622px;
  left: 272px;
}
.kg10,
.kg5,
.kg6,
.kg7,
.kg8,
.kg9 {
  top: 884px;
  left: 1544px;
}
.kg10,
.kg6,
.kg7,
.kg8,
.kg9 {
  top: 1766px;
  left: 1542px;
}
.kg10,
.kg7,
.kg8,
.kg9 {
  top: 2635px;
  left: 1544px;
}
.kg10,
.kg8,
.kg9 {
  top: 871px;
  left: 908px;
}
.kg10,
.kg9 {
  top: 1753px;
  left: 906px;
}
.kg10 {
  top: 2622px;
  left: 908px;
}
.group-child81,
.group-child82 {
  position: absolute;
  top: 319px;
  left: 143px;
  background-color: var(--color-white);
  width: 472px;
  height: 472px;
}
.group-child82 {
  top: 1201px;
  left: 141px;
}
.group-child83,
.group-child84,
.group-child85,
.group-child86,
.group-child87,
.group-child88 {
  position: absolute;
  top: 2070px;
  left: 143px;
  background-color: var(--color-white);
  width: 472px;
  height: 472px;
}
.group-child84,
.group-child85,
.group-child86,
.group-child87,
.group-child88 {
  top: 332px;
  left: 1415px;
}
.group-child85,
.group-child86,
.group-child87,
.group-child88 {
  top: 1214px;
  left: 1413px;
}
.group-child86,
.group-child87,
.group-child88 {
  top: 319px;
  left: 779px;
}
.group-child87,
.group-child88 {
  top: 1201px;
  left: 777px;
}
.group-child88 {
  top: 2070px;
  left: 779px;
}
.group-child89,
.group-child90,
.group-child91,
.group-child92 {
  position: absolute;
  top: 708px;
  left: 170px;
  background-color: var(--color-lightgreen);
  width: 144px;
  height: 52px;
}
.group-child90,
.group-child91,
.group-child92 {
  top: 1590px;
  left: 168px;
}
.group-child91,
.group-child92 {
  top: 2459px;
  left: 170px;
}
.group-child92 {
  top: 2083px;
  left: 1415px;
  background-color: var(--color-white);
  width: 472px;
  height: 472px;
}
.group-child93,
.group-child94,
.group-child95,
.group-child96,
.group-child97,
.group-child98 {
  position: absolute;
  top: 721px;
  left: 1442px;
  background-color: var(--color-lightgreen);
  width: 144px;
  height: 52px;
}
.group-child94,
.group-child95,
.group-child96,
.group-child97,
.group-child98 {
  top: 1603px;
  left: 1440px;
}
.group-child95,
.group-child96,
.group-child97,
.group-child98 {
  top: 2472px;
  left: 1442px;
}
.group-child96,
.group-child97,
.group-child98 {
  top: 708px;
  left: 806px;
}
.group-child97,
.group-child98 {
  top: 1590px;
  left: 804px;
}
.group-child98 {
  top: 2459px;
  left: 806px;
}
.div4,
.div5,
.div6 {
  position: absolute;
  top: 719px;
  left: 205px;
  font-weight: 600;
}
.div5,
.div6 {
  top: 1601px;
  left: 203px;
}
.div6 {
  top: 2470px;
  left: 205px;
}
.div10,
.div11,
.div12,
.div7,
.div8,
.div9 {
  position: absolute;
  top: 732px;
  left: 1477px;
  font-weight: 600;
}
.div10,
.div11,
.div12,
.div8,
.div9 {
  top: 1614px;
  left: 1475px;
}
.div10,
.div11,
.div12,
.div9 {
  top: 2483px;
  left: 1477px;
}
.div10,
.div11,
.div12 {
  top: 719px;
  left: 841px;
}
.div11,
.div12 {
  top: 1601px;
  left: 839px;
}
.div12 {
  top: 2470px;
  left: 841px;
}
.group-child100,
.group-child101,
.group-child99 {
  position: absolute;
  top: 948px;
  left: 92px;
  background-color: var(--color-darkgreen-100);
  width: 574px;
  height: 78px;
}
.group-child100,
.group-child101 {
  top: 1830px;
  left: 90px;
}
.group-child101 {
  top: 2699px;
  left: 92px;
}
.group-child102,
.group-child103,
.group-child104,
.group-child105,
.group-child106,
.group-child107 {
  position: absolute;
  top: 944px;
  left: 1364px;
  background-color: var(--color-darkgreen-100);
  width: 574px;
  height: 78px;
}
.group-child103,
.group-child104,
.group-child105,
.group-child106,
.group-child107 {
  top: 1830px;
  left: 1362px;
}
.group-child104,
.group-child105,
.group-child106,
.group-child107 {
  top: 2699px;
  left: 1364px;
}
.group-child105,
.group-child106,
.group-child107 {
  top: 948px;
  left: 738px;
}
.group-child106,
.group-child107 {
  top: 1830px;
  left: 728px;
}
.group-child107 {
  top: 2699px;
}
.move-to-bag {
  position: absolute;
  top: 965px;
  left: 252px;
  color: var(--color-white);
}
.move-to-bag1,
.move-to-bag2,
.move-to-bag3,
.move-to-bag4 {
  position: absolute;
  top: 1847px;
  left: 250px;
  color: var(--color-white);
}
.move-to-bag2,
.move-to-bag3,
.move-to-bag4 {
  top: 2716px;
  left: 252px;
}
.move-to-bag3,
.move-to-bag4 {
  top: 961px;
  left: 1532px;
}
.move-to-bag4 {
  top: 1847px;
  left: 1525px;
}
.move-to-bag5,
.move-to-bag6,
.move-to-bag7,
.move-to-bag8 {
  position: absolute;
  top: 2716px;
  left: 1524px;
  color: var(--color-white);
}
.move-to-bag6,
.move-to-bag7,
.move-to-bag8 {
  top: 965px;
  left: 888px;
}
.move-to-bag7,
.move-to-bag8 {
  top: 1847px;
  left: 886px;
}
.move-to-bag8 {
  top: 2716px;
  left: 888px;
}
.onion2 {
  position: absolute;
  top: 819px;
  left: 143px;
  font-weight: 600;
}
.apple1,
.beetroot,
.lemon1,
.tomato2 {
  position: absolute;
  top: 1701px;
  left: 141px;
  font-weight: 600;
}
.apple1,
.beetroot,
.tomato2 {
  top: 2570px;
  left: 143px;
}
.apple1,
.tomato2 {
  top: 832px;
  left: 1415px;
}
.apple1 {
  top: 1714px;
  left: 1413px;
}
.cabbage,
.garlic1,
.orange1,
.potato1 {
  position: absolute;
  top: 2583px;
  left: 1415px;
  font-weight: 600;
}
.garlic1,
.orange1,
.potato1 {
  top: 819px;
  left: 779px;
}
.garlic1,
.orange1 {
  top: 1701px;
  left: 777px;
}
.garlic1 {
  top: 2570px;
  left: 779px;
}
.vector-icon13,
.vector-icon14,
.vector-icon15 {
  position: absolute;
  height: 1.18%;
  width: 1.82%;
  top: 24.21%;
  right: 84.78%;
  bottom: 74.61%;
  left: 13.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon14,
.vector-icon15 {
  top: 53.91%;
  right: 84.88%;
  bottom: 44.92%;
  left: 13.3%;
}
.vector-icon15 {
  top: 83.16%;
  right: 84.78%;
  bottom: 15.66%;
  left: 13.4%;
}
.vector-icon16,
.vector-icon17,
.vector-icon18,
.vector-icon19,
.vector-icon20,
.vector-icon21 {
  position: absolute;
  height: 1.18%;
  width: 1.82%;
  top: 24.65%;
  right: 22.12%;
  bottom: 74.18%;
  left: 76.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon17,
.vector-icon18,
.vector-icon19,
.vector-icon20,
.vector-icon21 {
  top: 54.34%;
  right: 22.22%;
  bottom: 44.48%;
  left: 75.96%;
}
.vector-icon18,
.vector-icon19,
.vector-icon20,
.vector-icon21 {
  top: 83.6%;
  right: 22.12%;
  bottom: 15.22%;
  left: 76.06%;
}
.vector-icon19,
.vector-icon20,
.vector-icon21 {
  top: 24.21%;
  right: 53.45%;
  bottom: 74.61%;
  left: 44.73%;
}
.vector-icon20,
.vector-icon21 {
  top: 53.91%;
  right: 53.55%;
  bottom: 44.92%;
  left: 44.63%;
}
.vector-icon21 {
  top: 83.16%;
  right: 53.45%;
  bottom: 15.66%;
  left: 44.73%;
}
.cancel-icon,
.cancel-icon1,
.cancel-icon2,
.cancel-icon3 {
  position: absolute;
  top: 224px;
  left: 577px;
  width: 76px;
  height: 76px;
  object-fit: cover;
}
.cancel-icon1,
.cancel-icon2,
.cancel-icon3 {
  top: 1106px;
  left: 575px;
}
.cancel-icon2,
.cancel-icon3 {
  top: 1975px;
  left: 577px;
}
.cancel-icon3 {
  top: 237px;
  left: 1849px;
}
.cancel-icon4,
.cancel-icon5,
.cancel-icon6,
.cancel-icon7,
.cancel-icon8 {
  position: absolute;
  top: 1116px;
  left: 1850px;
  width: 76px;
  height: 76px;
  object-fit: cover;
}
.cancel-icon5,
.cancel-icon6,
.cancel-icon7,
.cancel-icon8 {
  top: 1986px;
}
.cancel-icon6,
.cancel-icon7,
.cancel-icon8 {
  top: 224px;
  left: 1213px;
}
.cancel-icon7,
.cancel-icon8 {
  top: 1106px;
  left: 1211px;
}
.cancel-icon8 {
  top: 1975px;
  left: 1213px;
}
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  position: absolute;
  height: 1.75%;
  width: 2.56%;
  top: 7.88%;
  right: 72.51%;
  bottom: 90.37%;
  left: 24.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon23,
.vector-icon24 {
  top: 37.58%;
  right: 72.61%;
  bottom: 60.67%;
  left: 24.83%;
}
.vector-icon24 {
  top: 66.84%;
  right: 72.51%;
  bottom: 31.41%;
  left: 24.93%;
}
.vector-icon25,
.vector-icon26,
.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30 {
  position: absolute;
  height: 1.75%;
  width: 2.56%;
  top: 8.32%;
  right: 9.85%;
  bottom: 89.93%;
  left: 87.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon26,
.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30 {
  top: 38.01%;
  right: 9.95%;
  bottom: 60.24%;
  left: 87.49%;
}
.vector-icon27,
.vector-icon28,
.vector-icon29,
.vector-icon30 {
  top: 67.27%;
  right: 9.85%;
  bottom: 30.98%;
  left: 87.59%;
}
.vector-icon28,
.vector-icon29,
.vector-icon30 {
  top: 7.88%;
  right: 41.18%;
  bottom: 90.37%;
  left: 56.26%;
}
.vector-icon29,
.vector-icon30 {
  top: 37.58%;
  right: 41.28%;
  bottom: 60.67%;
  left: 56.16%;
}
.vector-icon30 {
  top: 66.84%;
  right: 41.18%;
  bottom: 31.41%;
  left: 56.26%;
}
.group-child108 {
  position: absolute;
  top: 2899px;
  left: calc(50% - 84px);
  background-color: var(--color-darkgreen-100);
  width: 288px;
  height: 71px;
}
.show-more {
  position: absolute;
  top: 2915px;
  left: 967px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  text-align: center;
}
.vector-icon31 {
  position: absolute;
  height: 0.74%;
  width: 1.97%;
  top: 98.45%;
  right: 40.79%;
  bottom: 0.81%;
  left: 57.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.keyboard-arrow-down {
  position: absolute;
  top: 2777px;
  left: 1216px;
  width: 96px;
  height: 96px;
  overflow: hidden;
}
.rectangle-parent22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2030px;
  height: 2970px;
}
.whislist {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3089px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
